/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
  overflow: hidden;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.text {
  position: absolute;
  top: 80px;
  text-align: center;
  font-size: 25px;
}
footer {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  animation: fin-end 3s linear forwards;
}
@keyframes fin-end {
  0% {
    box-shadow: inset 0px 0px 0px 600px #000;
  }
  100% {
    box-shadow: inset 0 0 0 0 #000;
  }
}

.main {
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  background: url('../img/road3.jpg');
  /*Крутилка фона*/
  animation: main 5s linear 10s, main 4s linear 15s, main 3.5s linear 19s, main 3s linear 22.5s, main 2.7s linear 25.5s,
    main 2.5s linear 28.2s, main 2.3s linear 30.7s, main 2s linear 33s, main 1.7s linear 35s, main 1.5s linear 36.7s, main 1.3s linear 38.2s,
    main 1.1s linear 39.5s, main 1s linear 40.6s, main 0.9s linear 41.6s, main 0.85s linear 42.5s, main 0.8s linear infinite 43.35s;
}
@keyframes main {
  100% {
    background-position: 800px 0px;
  }
}
.car {
  position: relative;
  margin: 0 auto;
  width: 1400px;
  height: 480px;
  z-index: 10;
  animation: car 5s forwards 6s;
}
@keyframes car {
  0% {
    top: 50px;
  }
  50% {
    top: 90px;
  }
  100% {
    top: 130px;
    transform: scale(0.2);
  }
}
.car__body {
  width: 1350px;
  height: 438px;
  background: #5c5e5b;
  position: relative;
  clip-path: polygon(
    56% 2%,
    64% 3%,
    69% 5%,
    72% 2%,
    73% 3%,
    73% 7%,
    80% 14%,
    89% 24%,
    96% 27%,
    98% 26%,
    98% 36%,
    98% 47%,
    99% 57%,
    98% 70%,
    93% 78%,
    86% 83%,
    85% 79%,
    83% 90%,
    80% 96%,
    76% 95%,
    74% 91%,
    73% 85%,
    72% 83%,
    25% 83%,
    23% 92%,
    20% 96%,
    18% 96%,
    15% 92%,
    13% 84%,
    5% 82%,
    2% 78%,
    1% 73.5%,
    1% 63%,
    1% 56%,
    1.3% 50%,
    4% 43%,
    8% 38.5%,
    15% 34.5%,
    25% 31.5%,
    28% 31%,
    32% 24%,
    38% 13%,
    41% 8%,
    47% 3%,
    52% 2%
  );
  z-index: 1;
}
.car__carkas {
  display: inline-block;
  position: relative;
  top: -322px;
  left: 12px;
  width: 1326px;
  height: 248px;
  overflow: hidden;
  z-index: 1;
}
.car__block-space-wheel {
  display: inline-block;
  position: relative;
  top: 105px;
  left: 132px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #000000;
  z-index: 3;
}
.car__block-space-wheel_left {
  left: 708px;
}
.block-wheel {
  display: inline-block;
  position: relative;
  top: -450px;
  left: 163px;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  background: #1c1b1a;
  z-index: 2;
  animation: wheel 0.5s linear 10s infinite, wheel 0.4s linear 15s infinite, wheel 0.35s linear 19s infinite,
    wheel 0.3s linear 22.5s infinite, wheel 0.27s linear 25.5s infinite, wheel 0.25s linear 28.2s infinite,
    wheel 0.23s linear 30.7s infinite, wheel 0.2s linear 33s infinite, wheel 0.17s linear 35s infinite, wheel 0.15s linear 36.7s infinite,
    wheel 0.13s linear 38.2s infinite, wheel 0.11s linear 39.5s infinite, wheel 0.1s linear 40.6s infinite,
    wheel 0.09s linear 41.6s infinite, wheel 0.085s linear 42.5s infinite, wheel 0.08s linear infinite 43.35s;
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.block-wheel_left {
  left: 774px;
}
.disk {
  display: inline-block;
  position: relative;
  top: 17px;
  left: 17px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #27262dfa;
  z-index: 0;
  border: 1px solid white;
}
.disk__circle {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #4f4f57;
  z-index: 2;
}
.disk__part-1 {
  display: inline-block;
  position: relative;
  top: 35px;
  transform: rotate(-70deg);
}
.disk__part-2 {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 65px;
  transform: rotate(65deg);
}
.disk__part-3 {
  display: inline-block;
  position: relative;
  top: -15px;
  left: -32px;
}
.disk__part-4 {
  position: absolute;
  top: 70px;
  left: 65px;
  transform: rotate(-40deg);
}
.disk__part-5 {
  position: absolute;
  top: 55px;
  left: 30px;
  transform: rotate(35deg);
}
.part-item-1 {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 19px;
  width: 20px;
  height: 65px;
  border-radius: 50%;
  background: #f2f2f2a6;
  z-index: 1;
}
.part-item-2 {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  width: 10px;
  height: 35px;
  border-radius: 50%;
  background: #090404c6;
  z-index: 1;
}
.okno-1 {
  display: inline-block;
  position: absolute;
  top: 41px;
  left: 485px;
  width: 230px;
  height: 98px;
  transform: skew(-15deg, -2.5deg);
  background: rgba(10, 229, 237, 0.316);
  border-radius: 87% 9% 0% 0% / 100% 14% 23% 0%;
}
.okno-2 {
  display: inline-block;
  position: absolute;
  top: 36px;
  left: 760px;
  width: 203px;
  height: 95px;
  transform: skew(-6deg, -1deg);
  background: rgba(10, 229, 237, 0.316);
  border-radius: 25% 100% 0% 0% / 0% 61% 23% 29%;
}
.okno-3 {
  display: inline-block;
  position: absolute;
  top: 34px;
  left: 465px;
  width: 43px;
  height: 100px;
  transform: skew(-60deg, 0deg);
  background: rgba(10, 229, 237, 0.316);
  z-index: 4;
}
.okno-4 {
  display: inline-block;
  position: absolute;
  top: 62px;
  left: 988px;
  width: 80px;
  height: 68px;
  transform: skew(32deg, 0deg);
  background: rgba(10, 229, 237, 0.316);
  border-radius: 0% 100% 0% 0% / 30% 100% 0% 29%;
}
.okno-5 {
  display: inline-block;
  position: absolute;
  top: 43px;
  left: 1092px;
  width: 23px;
  height: 65px;
  transform: skew(71deg, 0deg);
  background: rgba(10, 229, 237, 0.316);
}
.fara-back {
  display: inline-block;
  position: absolute;
  top: 152px;
  left: 1227px;
  width: 100px;
  height: 50px;
  background: rgba(220, 49, 36, 0.638);
  border-radius: 80% 20% 15% 84% / 13% 40% 41% 88%;
}
.fara-front {
  display: inline-block;
  position: absolute;
  top: 202px;
  left: 12px;
  width: 150px;
  height: 50px;
  background: rgba(214, 223, 214, 0.432);
  border-radius: 29% 43% 100% 0% / 58% 0% 100% 0%;
  overflow: hidden;
}
.fara-back__inbox {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 87px;
  width: 20px;
  height: 30px;
  border-radius: 50%;
  background: rgba(187, 240, 235, 0.568);
}
.fara-front__inbox {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 30px;
  width: 80px;
  height: 28px;
  background: rgba(191, 235, 230, 0.412);
  border-radius: 47% 4% 100% 11% / 30% 0% 100% 21%;
}
.car__bak {
  display: inline-block;
  position: relative;
  top: 137px;
  left: 1051px;
  width: 57px;
  height: 42px;
  border-radius: 30%;
  border: 1px solid rgba(0, 0, 0, 0.486);
  background: #5c5e5b81;
}
.disk__circle-img {
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 7.5px;
  width: 100%;
  max-width: 15px;
}
.car__zerkalo {
  display: inline-block;
  position: absolute;
  top: 112px;
  left: 465px;
  width: 47px;
  height: 40px;
  background: #5c5e5b;
  transform: rotate(35deg);
  border-radius: 75% 34% 100% 23% / 73% 30% 82% 16%;
  border: 1px solid rgba(0, 0, 0, 0.522);
}
.car__rychki {
  display: inline-block;
  position: absolute;
  top: 169px;
  left: 640px;
  width: 73px;
  height: 10px;
  background: rgb(61, 65, 62);
  transform: rotate(-2deg);
  border-radius: 50px;
  z-index: 2;
}
.car__rychki_right {
  display: inline-block;
  position: absolute;
  top: 163px;
  left: 920px;
  width: 73px;
  height: 10px;
  background: rgb(61, 65, 62);
  transform: rotate(-2deg);
  border-radius: 50px;
  z-index: 2;
}
.car__rychki-back {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 25px;
  top: 144px;
  left: 600px;
  border-radius: 30px;
  background: #505250;
  z-index: 1;
}
.car__rychki-back_right {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 25px;
  top: 139px;
  left: 843px;
  border-radius: 30px;
  background: #505250;
  z-index: 1;
}
.car__body-imgage {
  display: inline-block;
  position: relative;
  top: 60px;
  left: 1245px;
  width: 100%;
}
.car__body-img {
  max-width: 70px;
}
